.MenuContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.taskscreen{
    width: 80%;
    height: 92.7%;
    background: #121212;
    padding: 40px;
}

.input-container{
    display: flex;
    gap: 15px;
    max-width: 600px;
    margin: auto;
}

input{
    flex: 1;
    padding: 15px;
    border-radius: 8px;
    border: none;
}

button{
    padding: 15px;
    border-radius: 8px;
    background: #22c55e;
    border: none;
    cursor: pointer;
}

.tasks{
    margin-top: 40px;
}