.task-list{
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
}

.task-box{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #1f1f1f;
    border-radius: 8px;
    color: white;
}

.icon{
    display: flex;
    gap: 10px;
}

.icon-tick{
    color: #22c55e;
    cursor: pointer;
}

.icon-delete{
    color: red;
    cursor: pointer;
}