.TodoList{
    width: 20%;
    height: 100vh;
    background-color: #181818;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    color: white;
    margin-bottom: 40px;
}

.menu-bar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

label{
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    color: #cfcfcf;
    cursor: pointer;
}

label:hover{
    background: #22c33e;
}

.active{
    background: #22c55e;
    color: white;
}